@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  @apply bg-white dark:bg-argentina-navyDeep;
}

body {
  @apply text-argentina-navy antialiased dark:text-white;
}

#root {
  @apply min-h-screen;
}
